.row{
    padding-top: 100px;
    margin-bottom: 100px;
}

.col-sm-5{
    margin: 20px;
}

.map{
    width:600px ;
    height:450px;
}

@media all and (max-width: 1440px){
    .map{
        width: 300px;
        height: 300px;
    }
}

@media all and (max-width: 720px){
    .map{
        width: 200px;
        height: 200px;
    }
}